<div>
    <form action="/calculator/post" method="POST" >
        <label for="url">I got it!</label>
        <input type="text" id="url" name="answer" placeholder=" Answer ">


        <!--<label for="fname">foooooodz</label>-->

        <input type="submit" value="Poo">
    </form>
</div>