<div>
    <form action="/calculator/post" method="POST" >
        <label for="url">Four Numbers!</label>
        <input type="text" id="asking" name="asking" placeholder=" What do you want to calculate?">


        <!--<label for="fname">foooooodz</label>-->

        <input type="submit" value="Poo">
    </form>
</div>


<!--<input type="hidden" name="hidden" value={{the_post.slug}}>-->

<p>{{combo}}</p><p>{{solution}}</p>
