<div>
    <form action="/calculator/post" method="POST" >
        <label for="url">Four Numbers!</label>
        <input type="text" id="asking" name="asking" placeholder="use space e.g.'1 2 12 13'">


        <!--<label for="fname">foooooodz</label>-->

        <input id = "poo" type="submit" value="Poo">
    </form>
</div>
<div class="cal hidden">
<p>The combination: {{result.slug}}</p>
<p>Solution is: {{result.solution}}</p>
<p>This has been asked for {{result.times}} times</p>
<p>This has been solve by {{result.solve}} times</p>

</div>
<!--new-->
<script>
    let a = document.querySelector('.cal');
   // a.style.visibility="hidden";
    document.querySelector('#poo').addEventListener('click',function(evt){
        a.style.visibility="visible";
    })
</script>

