<div>
    <form action="/calculator/post" method="POST" >
        <label for="url">Four Numbers!</label>
        <input type="text" id="asking" name="asking" placeholder=" What do you want to calculate?">


        <!--<label for="fname">foooooodz</label>-->

        <input type="submit" value="Poo">
    </form>
</div>


<p>The combination: {{result.slug}}</p>
<p>Solution is: {{result.solution}}</p>
<p>This has been asked for {{result.times}} times</p>
