body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image:url("../../images/green.png");*/
  margin: auto;
  width: 50%;
  /*border: 3px solid gainsboro;*/
}
/*.fade-enter-active, .fade-leave-active {*/
  /*transition: opacity .5s*/
/*}*/
/*.fade-enter, .fade-leave-active {*/
  /*opacity: 0*/
/*}*/
.start{
  font-size: large;
  margin-top: 10%;
  color: wheat;
  height: 130%;
  background-color: rgba(0,0,0,0.5);
}
.center {
  margin: auto;
  width: 90%;
  /*border: 3px solid gainsboro;*/
  padding-top: 5vm;
  padding-bottom: 5vm ;
  align-items: center;
  align-content: center;
}
.ipt {
  border: none;
  text-align: center;
  width: 50%;
  padding: 2%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-size: 200%;
}
form {
  background-color: #bbbbbb;
  /*padding: 50px;*/
}
#shuffle .container{

}
.input{
  border: none;
  padding: 1.5vmin 4vmin;
  color: wheat;
  font-size: large;
  background-color: rgba(255,255,255,0.5);
}
/*.playBtn {*/
  /*border: none;*/
  /*padding: 1.5vmin 4vmin;*/
  /*color: wheat;*/
  /*margin-left: 15%;*/
  /*margin-top: 10%;*/
  /*font-size: large;*/
  /*background-color: rgba(255, 255, 255, 0.5);*/

/*}*/

canvas{
position: fixed;  top:0px; left:0px;
  z-index: -1;
}

.inline{
}

.next{
  margin-right: 12%;
  border: 1px solid #aaa;
  text-align: center;
  margin-top: 5%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-size: 200%;
}
.next:hover{

  background-color:rgba(0, 0, 0, 0.2);

}

.option::selection{
  background-color:rgba(255, 255, 255, 0.5); ;

}
.option:hover{
  background-color:rgba(255, 255, 255, 0.8); ;
}
.option{
  border: none;
  text-align: center;
  padding: 5%;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  font-size: 200%;
}
.choice{
  margin-top: 2%;
  margin-left: 18%;
  padding: 1.5vmin 4vmin;
  border: none;
  width: 60%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
.button:hover{
  background-color: #bbbbbb;
}

#player_div #player_div2{
  background-color: #bbbbbb;
  padding: 5%;
  width: 8%;
  border-radius: 5%;
  font-size: 200%;

}
.button {
  font-size: 20%;
  margin: auto;
  border: none;
  align-items: center;
  align-content: center;
  color:wheat;
  border-radius: 2px;
  margin-left: 5%;
  padding: 10px 24px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;

}
.hidden{
  display: none;
  height: 0px;
  margin-right: 2%;
  margin-left: 2%;
  border-top: 14vmax solid rgba(0,0,0,0.5);
}
.score{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 5px;
  color:wheat;
  background-color: rgba(0,0,0,0.5);
}

#svg {
  border: 3px solid gainsboro;
  width: 50%;
  height: 50%;
}
.card:hover{
  height: 24%;
  width: 24%;
  padding: 0%;

  align-content: flex-start;
  color: #00B7FF;

}
.card{
  padding: 1%;
  height: 23%;
  width: 23%;
  align-content: flex-start;
}
#cpu_div object{ width:25%;display: inline-block}
#player_div object{ width:25%;display: inline-block }

a {
  color: #00B7FF;
}

.game{
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 238px;
  margin-top: 10px;
}
.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  padding: 5%;
  width: 10%;
  height: 100%;
  border: 1px solid #aaa;
  margin-right: -1%;
  margin-bottom: -1%;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell:nth-child(27n) {
  margin-bottom: 0;
}
.cell-move {
  transition: transform 1s;
}